@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --color-1: #0e2233;
  --color-2: #2b3d4f;
  --color-3: #485b6e;
  --color-4: #677a8e;
  --color-5: #879aaf;
  --color-off-w: #faf9f6;
  --color-w: #ffffff;
  --color-a-b: #001524;

  --font-sans: "Work Sans", arial, helvetica;
}

header {
  background-color: antiquewhite;
  font-family: var(--font-sans);
  padding: 1rem;
}
.mainnav > ul {
  font-size: 2rem;
  color: var(--color-off-w);
  background-color: indianred;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  margin: 0 2rem;
}

li:nth-child(2)::before,
li:nth-child(4)::after {
  content: "|";
}
